<!DOCTYPE html>
<html>
<head>
<title>AdminRef.com | System Administration References, Tutorials, & Utilies</title>
<link href="slices/css/styles.css" rel="stylesheet" type="text/css" />
<script text/javascript src="slices/lib/jquery-1.10.2.min.js"></script>
<script text/javascript src="slices/js/main.js"></script>
<script text/javascript src="app.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang-bash&skin=sunburst"></script>
</head>
<body>
    <header id="header">
        <h1>
            AdminRef.com
        </h1>
        <h2>
            The Ultimate System Administration Reference
        </h2>
    </header>
      
    <div class="container">
        <nav class="navmenu">
            <a href="index.html">Home</a>
            <a href="reference.html">Ref</a>
            <a href="tutorials.html">Tuts</a>
            <a href="forum.html">Forum</a>
            <a href="about.html">About</a>
        </nav>
        <main id="main-content">
        </main>
    </div>
    <footer id="bottom">
        <p>AdminRef.com - Copyright 2013 Be Open Source LLC</p>
        <nav>
            <a href=""></a>                    
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </footer>
</body>
</html>
